:javascript 
	$(document).ready(function(){
		$('#homeLink').click(function() {
			window.location.href = "#{root_url}";
		});
	});



.navbar.navbar-inverse.navbar-fixed-top#blue-nav{role: "navigation"}
	.container
		.navbar-header#homeLink{:onclick => "function(){window.location.href='#{root_url}'};", :style =>  "display:block"}
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand Art Genius
		.navbar-collapse.collapse
			.navbar-right
				.a= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-info white"

%a.btn.btn-success.btn-lg#sign{role: "button", :href => new_image_url, :style => "color:white" } Add New Image

.container.spacer
	
	.row
		%h3.lobster-header Discover
	.row
		- @images.each do |image|
			.col-sm-4
				.tile
					= link_to(image_tag(image.image), image)

