:javascript 
	$(document).ready(function(){
		var image = document.getElementById("picture");
		var height = image.height
		var comment = document.getElementById("comment");
		comment.height = height/2 + "px";
	})


.navbar.navbar-inverse.navbar-fixed-top#blue-nav{role: "navigation"}
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: "/"} Art Genius
		.navbar-collapse.collapse
			.navbar-right
				sadfasdfdsfs
.container.spacer
	
	.row
		%h3.lobster-header Discover
		.glyphicon.glyphicon-globe
	.row.spacer-mini
		- @images.each do |image|
			.col-sm-4.tile
				= link_to(image_tag(image.image), image)

= link_to "sign out", destroy_user_session_path, method: :delete